.joueur{
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: 10px;
    border: 2px solid rgb(76, 0, 255);

}



.spelldata{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px;
    font-size: 40px;
    border: 2px solid red;
    width: 450px;
    height: 300px;
}

.Button{
    background-color: black;
    height: 200px;
    width: 500px;
}
